:root {
    font-family: var(--regular-font), Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;

    color-scheme: light;
    color: var(--primary-orange);
    background-color: #fffefe;
    text-shadow: 2px 2px 4px white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-blue: #2646C7;
    --primary-orange: #D45935;
    --secondary-yellow: #EDA847;
    --secondary-pink: #FAC0AC;
    --secondary-green: #78732F;

    --bold-font: 'SharpGroteskBold25';
    --regular-font: 'SharpGroteskLight20';
    --medium-font: 'SharpGroteskMedium15';
}

@font-face {
    font-family: 'SharpGroteskLight20';
    src: url('../../fonts/SharpGrotesk-Light20.woff2') format('woff2');
}

@font-face {
    font-family: 'SharpGroteskBold25';
    src: url('../../fonts/SharpGrotesk-Bold25.woff2') format('woff2');
}

@font-face {
    font-family: 'SharpGroteskMedium15';
    src: url('../../fonts/SharpGrotesk-Medium15.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  /* outline: 4px solid red; */
}


html {
    scroll-behavior: smooth;
}

a {
    font-weight: 500;
    color: var(--primary-blue);
    text-decoration: inherit;
}

a:hover {
    color: var(--primary-orange);
}

.topnav .icon {
  display: none;
}

#myNavHeader .icon i {
  font-size: 34px; 
}

#header {
    padding-bottom: 15px;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 300px;
    min-height: 100vh;
}

h1 {
    font-family: var(--bold-font);
    font-size: 3.2em;
    line-height: 1.1;
    overflow-wrap: break-word;
        word-wrap: break-word;
}

h2 {
    font-family: var(--bold-font);
    font-size: 2.5em;
    line-height: 1.1;
    padding-top: 20px;
}

h3 {
    font-family: var(--bold-font);
    font-size: 2.2em;
    line-height: 1.1;
}

h1.title {
    text-shadow: 2px 2px 4px white;
}

#app {
    max-width: 1280px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
}

#welcome {
    text-align: right;
}

#theCouple {
    text-align: left;
}

#schedule {
    text-align: right;
}

#specialGuests {
    text-align: left;
}

#accomidations {
    text-align: right;
}

#venue {
    text-align: left;
}

#registerPage {
    text-align: right;
}

#bigThanks {
    text-align: left;
}

#name, #email, #song  {
    width: 80%;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 15px;
}

#attendanceOptions, #attendance {
    height: 40px;
    width: 35%;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 15px;
}

#rightJustify {
    display: flex;
    justify-content: flex-end; /* Ensures content aligns to the right */
    width: 100%; /* Ensures the div takes full width of its parent */
}

.google-maps {
    filter: grayscale(80%) invert(80%) contrast(100%);
    position: relative; /* Positions the .google-maps div relatively */
    width: 50%;
    padding-bottom: 25%; /* Adjusts aspect ratio */
    height: 0; /* Keeps the aspect ratio technique working */
    overflow: hidden; /* Ensures nothing overflows the bounds of the container */
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 50%; /* Shifts the iframe start point to the middle of the container */
    transform: translateX(-50%); /* Adjusts the position back to align right edges together */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
}


.buttonPadding {
    padding-top: 8px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.4em;
    font-weight: 620;
    font-family: var(--medium-font);
    background-color: var(--primary-blue);
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--primary-orange);
}
button:hover {
    border-color: var(--secondary-yellow);
    background-color: var(--secondary-yellow);
    color: var(--primary-blue);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* Default height for small screens */
/* .welcomeImage {
    height: 300px; 
    background-image: url('../../images/01-66092e13ca395.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

/* Larger height for medium screens (e.g., tablets) */
/* @media (min-width: 768px) {
    .welcomeImage {
        height: 400px;
    }
} */

/* Even larger height for large screens (e.g., desktops) */
/* @media (min-width: 1024px) {
    .welcomeImage {
        height: 500px; 
    }
} */

@media (max-width: 3250px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.4em;
    }

    form#register {
        line-height: 2.5;
    }

    #name, #email, #song  {
        width: 30%;
        height: 60px;
        font-size: 1.3rem;
    }
    
    #attendanceOptions, #attendance {
        height: 50px;
        width: 15%;
        font-size: 1.25rem;
    }
}

@media (max-width: 1000px) {
     #name, #email, #song  {
        width: 35%;
        height: 40px;
        font-size: 1.4rem;
    }
    
    #attendanceOptions, #attendance {
        height: 40px;
        width: 25%;
        font-size: 1.1rem;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.4em;
    }

    form#register {
        line-height: 2.5;
    }

    .google-maps {
        padding-bottom: 50%;
        width: 100%;
    }

     #name, #email, #song  {
        width: 50%;
        height: 35px;
        font-size: 1.2rem;
    }
    
    #attendanceOptions, #attendance {
        height: 40px;
        width: 25%;
        font-size: 1.1rem;
    }
}


@media (max-width: 450px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.4em;
    }

    form#register {
        line-height: 2.1;
    }

    .google-maps {
        padding-bottom: 75%;
        width: 100%;
    }

    #name, #email, #song  {
        width: 60%;
        height: 30px;
        font-size: 1rem;
    }
    
    #attendanceOptions, #attendance {
        height: 40px;
        width: 25%;
        font-size: 1rem;
    }
}


@media (max-width: 391px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    form#register {
        line-height: 2.0;
    }

     #name, #email, #song  {
        width: 70%;
        height: 30px;
        font-size: 1rem;
    }
    
    #attendanceOptions, #attendance {
        height: 40px;
        width: 35%;
        font-size: 1rem;
    }

}
